a                                         /* Début du Header*/
{
    margin-top: 8px;
    font-size: 1.5em;
}

a:hover
{
    color: green;
    font-weight: bold;
    text-decoration: none;
}

header
{
    background-image: url("http://www.artizan.ie/assets/templates/artizan/i/menu-bg.png");
    padding-top: 10px;
    height: 75px;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1;
}

h1
{
margin-top: 8px;
padding-bottom: 13.9px;
}

.separateur
{

    background: transparent url("http://www.artizan.ie/assets/templates/artizan/i/separator.png") repeat-x scroll 0px 110%;
    width: 100%;
}
                                        /* Fin du Header */

#background                            /* Début Section niveau 1 */
{
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
}

#section1
{
    height: 760px;
}

.separateur2
{
    background: transparent url("http://www.artizan.ie/assets/templates/artizan/i/separator.png") repeat-x scroll 0px 110%;
    height: 21px;
    margin-top: 274px;
    margin-left: -14.5px;
    width: 102.4%;
}

li
{
    list-style: none;
    font-size: 2.5em;
}                                        /* Fin Section niveau 1 */

#margin-padding                           /* Début Section niveau 2 */

{
    text-align: center;
    font-size: 4em;
}

#section2
{
    background-image: url("http://www.artizan.ie/assets/templates/artizan/i/menu-bg.png");
    height: 670px;
}

.separateur3
{
    background: transparent url("http://www.artizan.ie/assets/templates/artizan/i/separator.png") repeat-x scroll 0px 110%;
    height: 21px;
    margin-top: -14px;
    margin-left: -14.5px;
    width: 102.4%;
}
                                        /* Fin Section niveau 2 */


#font                                    /* Début Section niveau 3 */
{
    text-align: center;
    font-size: 4em;
}

#section3
{
    height: 670px;
}

.separateur4
{
    background: transparent url("http://www.artizan.ie/assets/templates/artizan/i/separator.png") repeat-x scroll 0px 110%;
    height: 21px;
    margin-top: 252px;
    margin-left: -14.5px;
    width: 102.4%;
}
                                          /* Fin Section niveau 3 */

#border                                /* Début Section niveau 4 */
{
    text-align: center;
    font-size: 4em;
}

#section4
{
    background-image: url("http://www.artizan.ie/assets/templates/artizan/i/menu-bg.png");
    height: 670px;
}
                                        /* Fin Section niveau 4 */


body         /* Background général */
{
    background-image: url("http://www.artizan.ie/assets/templates/artizan/i/bg-green-repeat.jpg");

}

.white        /* Balise code sur fond vert */
{
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
}

.green        /* Balise code sur fond blanc */
{
    padding: 0px 8px 0px 8px;
    background-color: #8bc34a;
    border-radius: 10px;
}

h3              /* Mise en gras des titres H3 */
{
    font-weight: bold;
}

@media (max-width:1024px){           /* CSS Mobile */

a                                     /* Début du Header */
{
    font-size: 1.2em;
}

h1
{
    font-size: 1.6em;
}

header
{
    height: 110px;
}
                                    /* Fin du Header */
li
{
    margin-left: -40px;
    font-size: 1.4em;
    line-height: 1.5em;
}

#background                        /* Modif du titre H3 */
{
    margin-top: 120px;
    font-size: 2.1em;
}

.separateur                        /* Suppression des images séparatrices */
{
    background-image: none;
}

.separateur2
{
    background-image: none;
}

.separateur3
{
    background-image: none;
}

.separateur4
{
    background-image: none;
}
}
